services:
  web:
    build: .
    container_name: test2-web
    restart: unless-stopped
    env_file:
      - .env
    environment:
      NODE_ENV: production
      PORT: 3005
    ports:
      - "3005:3005"
    command: >
      sh -c "
        npx prisma migrate deploy &&
        node server.js
      "
